.header
  .header__left
    .header__left__block
      .name
        永沢
      .create-btn
        = link_to "#" do
          レポート作成
          = icon('fas', 'edit', class: 'icon')
  .header__right
    .team
      名古屋支店
    %ul.team-menber
      %li.team-menber__list
        メンバー：永沢、〇〇、〇〇、〇〇
.main
  .main__left
    .main__left__team-list
      東京支店
    .main__left__team-list
      名古屋支店
    .main__left__team-list
      大阪支店
  .main__center
    .block
      .block__head
        .block__head__title
          〇〇案件商談
        .block__head__date
          〇〇月〇〇日
      .block__responsible
        .block__responsible__company
          〇〇企業
        .block__responsible__name
          担当：永沢
      .block__evaluation
        .block__evaluation__comments
          ○件のコメント
        .block__evaluation__goods
          ○件のいいね
    .block
      .block__head
        .block__head__title
          〇〇案件商談
        .block__head__date
          〇〇月〇〇日
      .block__responsible
        .block__responsible__company
          〇〇企業
        .block__responsible__name
          担当：永沢
      .block__evaluation
        .block__evaluation__comments
          ○件のコメント
        .block__evaluation__goods
          ○件のいいね
  .main__right
    .title
      〇〇案件商談
    .content
      提案内容
    .content-contents

    .result
      結果
    .result-contents
    
  

