.report
  .current
    .current__name
      担当：
      = current_user.name
    .current__team
      所属：

  .input
    = form_with(model: @report) do |f|
      .report-name
        .report-name__block
          標題
        .report-name__input
          =f.text_field :report_name
        .report-name__date
          =f.text_field :date
      .company
        .company__name
          企業名：
        .company__input
          =f.text_field :company
      .proposal
        .proposal__amount
          提案金額：
        .propasol__input
          =f.text_field :proposal_amount
      .proposal-content
        提案内容
        .proposal-content__input
          =f.text_area :proposal_content, size: "80x10"
      .result
        .result__amout
          獲得金額：
        .result__input
          =f.text_field :result_amout
      .result-content
        結果
        .result-content__input
          =f.text_area :result_content, size: "80x10"
      .report-form
        = f.submit
